 <html>
    <head>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
        <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
        <style>
            th {
                height: 22px;
            }
        </style>
    </head>
    <body ng-app="sample01" style="position: relative;">
        <script>
            angular.module('sample01', []).run(['$rootScope', function($root){
                $root.freezeCol = 4;
                $root.colList = [0,211111,2,3,4,5,6,7,89,7,9,4,4,4,7,8,9,79,79,79,79];
                $root.rowList = [
                    0,211111,2,3,4,5,6,7,89,7,9,4,4,4,7,8,9,79,79,79,79,0,211111,2,3,4,5,6,7,89,7,9,4,4,4,7,8,9,79,79,79,79,0,211111,2,3,4,5,6,7,89,7,9,4,4,4,7,8,9,79,79,79,79
                ];
            }]);
        </script>
        <div ng-view style="overflow: scroll; position: absolute; top: 40px; right: 0px; left: 0px; bottom: 0px;">
            <pre style="color: red;">
                請不要用左右兩側 scrollTop offset 用 javascript 同步，Zoom 會有左右不對齊的 Bug。請改用 "右側 scrollTop" 去 Update "左側 top: -x - $(header_height) px"。
            </pre>
            <!-- Pinned Table -->
            <div table style="display: flex; position: relative; height: 600px; width: 800px; border: 2px solid #333; margin: auto;">
                <div style="width: 200px; overflow: hidden; position: relative;" table-left>
                    <!-- Header -->
                    <div style="overflow-y: hidden; top: 0px; position: absolute; bottom: 0px; right: 0px; left: 0px; width: 100%;" table-top-left>
                        <table border=1 style="width: 100%; white-space: nowrap; text-overflow: clip; position: absolute;">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in colList.slice(0, freezeCol) track by $index">{{ 'c-' + item }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in rowList track by $index">
                                    <td ng-repeat="item in colList.slice(0, freezeCol) track by $index">
                                        {{ item }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Body: left hide scrollbar-x, to use top: -$x px offset by JavaScript. -->
                    <div style="overflow-y: hidden; top: 22px; position: absolute; bottom: 0px; right: 0px; left: 0px; width: 100%; background-color: white;" table-bottom-left>
                        <table border=1 style="width: 100%; white-space: nowrap; top: -22px; position: relative; text-overflow: clip; margin-bottom: 16px;">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in colList.slice(0, freezeCol) track by $index">{{ 'c-' + item }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in rowList track by $index">
                                    <td ng-repeat="item in colList.slice(0, freezeCol) track by $index">
                                        {{ item }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="flex: 1; overflow: hidden;" table-right>
                    <!-- Header -->
                    <div style="overflow: hidden; top: 0px; position: absolute; bottom: 0px; right: 0px; left: 200px;" table-top-right>
                        <table border=1 style="width: 100%; white-space: nowrap; top: 0px; position: absolute;">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in colList.slice(freezeCol) track by $index">{{ 'c-' + item }}</th>
                                </tr>
                            </thead>
                            <!-- 利用資料 td 讓欄位可以對齊 -->
                            <tbody>
                                <tr ng-repeat="item in rowList track by $index">
                                    <td ng-repeat="item in colList.slice(freezeCol) track by $index">
                                        {{ item }} {{ item }} {{ item }} {{ item }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Body -->
                    <div style="overflow: scroll; top: 22px; position: absolute; bottom: 0px; right: 0px; left: 200px; background-color: white;" table-bottom-right>
                        <!-- 
                            這邊必須設定 position: absolute; Content 高度才不會包含 offset 的 16px， 
                            如果設定為 relative; 整個 content 高度還是會包含 已經 top offset 的 16px;
                            To use absolute to be pretty look!
                        -->
                        <table border=1 style="min-width: 100%; white-space: nowrap; top: -22px; position: absolute;">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in colList.slice(freezeCol) track by $index">{{ 'c-' + item }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in rowList track by $index">
                                    <td ng-repeat="item in colList.slice(freezeCol) track by $index">
                                        {{ item }} {{ item }} {{ item }} {{ item }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <script>
                    (function(){
                        var rightTableContainer = $('[table-bottom-right]');
                        var leftTableContainer = $('[table-bottom-left]');
                        rightTableContainer.on('scroll', function(e){
                            leftTableContainer.find('table:first').css('top', -1 * e.target.scrollTop - 22);  // 16px is top header height
                            $('[table-top-right] table:first').css('left', -1 * e.target.scrollLeft);
                            console.debug(e);
                        });
                    })();
                </script>
            </div>
        </div>
    </body>
</html>